<%# -*- coding: UTF-8 -*- %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
		<style type="text/css">
			p {
				text-indent: 1em;
				margin: 0em;
			}
			
			h1 {
				margin-bottom: 3em;
			}
		</style>

	</head>
	<body>
		<h1>
			<small>Chapter <%= index %></small><br />
			<%= title %>
		</h1>
		
		<%= content %>
		
	</body>
</html>